body{
    margin: 0;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex-wrap: wrap;
    margin-right: 10px;
}
.icon{
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
li{
    border-radius: 2px;
    padding: 5px;
    transition: transform 0.5s;
}
li:hover{
    transform: scale(1.1);
    background-color: aliceblue;
    border-bottom: 2px solid black;

}